body {
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg2.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100%;
    color: white!important;
    font-size:18px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box{
    flex: 0 1 auto;
    margin: 5px;
    background: rgba(0,0,0,0.6);
    color: #003366;
}

.box:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.left {
    float:left;
}

.right {
    float:right;
}

h1 {
    font-family: "Playfair Display";
    font-size: 80px;
    font-weight: 100;
    padding-top: 50px;
    line-height: 70px;
}

h2 {
    font-family: "Montserrat";
    color: lightblue;
    border: 1px dashed white;
}

h3 {
    font-family: "Montserrat";
    color:powderblue;
}

h3 wow {

}

h4 {
    text-align:left;
    padding-right:10px;
    color:lightskyblue;
    top:0;
}

.header {
 font-family: "Montserrat";
 font-size: 40px;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

#titleName{
    text-shadow: 1px 1px 1px white;
    color: lightslategray;
    text-align: center;
}

text {
    color:white;
}

p {
    color:white;
}

.aboutLinks {
    text-align: center;
    align-items: center;
}

.inlineLink{
    color:lightseagreen;
    text-decoration:underline;
}

.researchLink {
    font-style: italic;
}

.inlineLink:hover{
    color:lightsteelblue;
}

.inlineLink:visited{
    color:darkcyan;
}

.headerLink {
   padding: 50px;
}

.headerLink current {
    color:green;
    background-color: #000000;
}

.researchDiv{
    padding:10px 0px 25px 10px;
}

.researchDivFirst{
    padding:1px 0px 25px 10px;
}

ul li {
    font-size:18px;
}
